/* Color Variables */
:root {
  --black: #090909;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black);
}

/* Navbar */
#nav-bar {
  display: flex;
  justify-content: space-between;
}

#logo-wrapper {
  display: flex;
  text-align: center;
}

#logo-img {
  height: 1.75em;
  width: auto;
}

#nav-menu {
  display: flex;
  list-style-type: none;
}

#nav-menu > a {
  text-decoration: none;
  font-weight: 600;
}

@media (min-width: 476px) {
  #nav-bar {
    line-height: 2em;
    padding: 1.5em;
  }

  #logo-wrapper {
    font-size: 1.25rem;
    gap: 1em;
  }

  #nav-menu {
    gap: 1em;
  }

  #nav-menu > a {
    font-size: 1rem;
  }
}

@media (max-width: 476px) {
  #nav-bar {
    line-height: 2em;
    padding: 1em;
  }

  #logo-wrapper {
    font-size: 1.25rem;
    gap: 0.75em;
  }

  #logo-wrapper > h4 {
    font-size: 1rem;
  }

  #nav-menu {
    gap: 0.75em;
  }

  #nav-menu > a {
    font-size: 0.75rem;
  }
}

/* Spotlight */
#spotlight {
  background-size: cover;
  display: grid;
  background-image: url("/assets/spotlight.png");
}

#spotlight-content {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  align-self: self-end;
  padding: 3em;
}

.spotlight-date,
.spotlight-title,
.spotlight-body {
  color: white;
}

@media (min-width: 767px) {
  #spotlight {
    height: 75%;
    grid-template-columns: 60% 1fr;
  }

  #spotlight-content {
    gap: 0.75em;
    padding: 3em;
  }

  spotlight-content h5 {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  #spotlight {
    grid-template-columns: 90% 1fr;
    height: 40%;
  }

  #spotlight-content {
    gap: 0.75em;
    padding: 1em;
  }

  #spotlight-content h5 {
    font-size: 0.75em;
    font-weight: 400;
  }

  #spotlight-content h2 {
    font-size: 1.5em;
  }

  #spotlight-content p {
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.5em;
  }
}

/* Blogs */
#content {
  text-align: center;
  margin-bottom: 2em;
}

#blog-grid {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(312px, 1fr) );
  min-width: 312px;
  gap: 2em;
  padding: 2em;
}

.blog-img {
  width: 100%;
  height: 16em;
  object-fit: cover;
  margin-bottom: 1em;
  border-radius: 8px;
}

.blog-date,
.blog-title,
.blog-body {
  color: var(--black);
  line-height: 1.5em;
}

#content > a {
  font-weight: 500;
}

/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
  padding: 2.5em;
  background-color: var(--black);
}

#footer > h4 {
  font-weight: 500;
  color: white;
}

#footer > h6 {
  font-weight: 400;
  color: white;
}
